name: CI
on:
  pull_request:
  # Trigger on merges to `main` to allow `gradle/gradle-build-action` runs to write their caches.
  # https://github.com/gradle/gradle-build-action#using-the-caches-read-only
  push:
    branches:
      - main

jobs:
  android-lint:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
      - uses: gradle/actions/setup-gradle@v5
      - run: ./gradlew lintAnalyzeDebug lintAnalyzeDebugUnitTest lintAnalyzeDebugAndroidTest

  api-check:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
      - uses: gradle/actions/setup-gradle@v5
      - run: ./gradlew apiCheck

  dokka-html:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
      - uses: gradle/actions/setup-gradle@v5
      - run: ./gradlew dokkaHtml

  kotlin-lint:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
      - uses: gradle/actions/setup-gradle@v5
      - run: ./gradlew lintKotlin

  publish-local:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
      - uses: gradle/actions/setup-gradle@v5

      - run: >
          ./gradlew
          -PVERSION_NAME=unspecified
          -PRELEASE_SIGNING_ENABLED=false
          publishToMavenLocal
          -x dokkaHtml

  tests:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
      - uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew allTests
      - run: ./gradlew jacocoTestReport

      - uses: EnricoMi/publish-unit-test-result-action/macos@v2
        with:
          junit_files: '**/build/test-results/**/*.xml'
          report_individual_runs: 'true'

      - uses: codecov/codecov-action@v5
